# ignore everything
**/*
# but not these ...
!waldiez_runner/
!scripts/start.sh
!scripts/pre_start.py
!scripts/initial_data.py
!pyproject.toml
!requirements/
!alembic.ini
!LICENSE
!README.md
!NOTICE.md
