# ignore everything
**/*
# but not these ...
!waldiez_runner/
!waldiez_runner/**
waldiez_runner/storage/*
!waldiez_runner/storage/.gitkeep
!scripts/
!pyproject.toml
!requirements/
!alembic.ini
!LICENSE
!README.md
!NOTICE.md
