**/.local/
**/.venv/
**/.cache/
**/build/
**/dist/
**/site/
.idea/
.env
.env.*
.test_env
!*.env.example
**/.coverage*
**/coverage/
**/lcov.info
**/logs/
**/tmp/
__pycache__/
*.py[cod]
*.egg
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
.DS_Store
.coverage
**/*.coverage*
**/*cache
**/*db
**/*.lock
**/*.LOCK
**/*.log
**/*.sqlite
**/*.sqlite3
**/*.
**/waldiez_out/
**/node_modules/
/docs/examples/*.ipynb
/docs/examples/*.py
db.session.sql
clients.json
.devcontainer/.zsh_history
!waldiez_runner/db
waldiez_runner/storage/*
!waldiez_runner/storage/.gitkeep
compose.yaml
.vagrant/
